body{
    background: transparent;
}
html { 
  background: linear-gradient(rgb(0, 0, 0), rgb(37, 0, 0) 40%, rgb(16, 6, 6)) no-repeat center center fixed !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav.navbar.navbar-default {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(25, 25, 25) 40%, #292929) !important;
    border-color: #000000 !important;
    border-bottom: 1px solid #000000 !important;
    border-radius: 0px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-bottom: 0px !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #900E0E;
    color: black;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .navbar-nav>.open>a:focus, .navbar-nav>.open>a, .navbar-default{
    background-image:none !important;
    background-color: #900E0E !important;
    color: black !important;
}
@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #AF0000;
        font-weight: bold !important;
    }
}
.dropdown-menu .divider {    
    margin: 4px 0;
    background-color: #791212;
}
.dropdown-menu>li>a {
    color: #AF0000;
    font-weight: bold !important;
}
.dropdown-menu {
    background-color: rgb(37, 37, 37);
    border-radius: 6px;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
.navbar .divider-vertical {
    height: 50px;
    margin: 0 0px;
    border-right: 1px solid rgba(0,0,0,0.5);
    border-left: 1px solid rgba(0,0,0,0.1);
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
    }
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #900E0E;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #900E0E;
}
button.navbar-toggle {
    border-color: #900E0E !important;
}
@media (min-width: 767px) {
    li.playButton {
        background-image: linear-gradient(#BD1111, rgb(175, 0, 0) 40%, #730000);
        width: 100px;
        color: black;
        border-radius: 5px !important;
        //padding-left: 5px;
        //padding-right: 5px;
    }
    .navbar-default .navbar-nav > li.playButton > a:hover, .navbar-default .navbar-nav > li.playButton > a:focus {
        background-image: linear-gradient(#C10202, rgb(222, 0, 0) 40%, #920F0F);
        color: black;
        border-radius:5px !important;
    }
    a.lastPlay {
        color: black !important;
    }
}
@media (max-width: 767px) {
    li.playButton {
        color: #AF0000 !important;
    }

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #AF0000;
}
.carousel-control.right, .carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}
.blackBack{
    background-color: black;
    width: 100%;
    height: 100%;
}
.blackBack:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
.wrapper {
    color: #AF0000 !important;
    width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 3%);
}
.wrapper:after {
    padding-top: 55%;
    /* 16:9 ratio */
    display: block;
    content: '';
}
.whiteBack {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    margin-left: 1vw;
    margin-right: 1vw;
}
div#loggedInContainer {
    font-size: 2vw;
    display: block;
    margin: 0;
    padding: 0;
}
.centerDiv{
    padding-bottom: 1%;
    margin-left: 20%;
    position: relative;
    font-size: 1.3vw;
}
.reqSize {
    width: 34%;
}
.validateVis {
    visibility: hidden;
    text-align: left;
    width: 66%;
    font-weight: bold;
}
div#newsLbl {
    width: 28vw;
    font-size: 1.2vw;
    padding: 0 !important;
    font-weight: normal !important;
}
.centerMe{
    text-align: center;
}
.block {
    height: 70%;
    width: 70%;
    display:inline-block;
    margin: 1%;
    margin-top: 0;
}
.hideMe{
    display: none;
}
img.img-responsive {
    height: 61px;
    width: 130px; 
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0; 
}
a.navbar-brand{
    z-index: 1000;
    padding: 0;
}
h1.gameHeader{
    color: #AF0000;
    font-size: 4vw; 
    margin: 1%;
}
input#login, input#register {
    background: #AF0000;
    color: #000000;
    border: 2px solid #791212;
    font-weight: bold;
}
tr.topRow{
    background-image: linear-gradient(rgb(41, 41, 41), rgb(31, 28, 28) 40%, #292929);
    color: #AF0000;
    height: 4vw;
    font-size: 16px;
    white-space: nowrap;
}
table.tableCenter{
    padding: 0;
    width: 100%;
    -moz-border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: auto;
    overflow: hidden;
    border-collapse: collapse; 
    display:block;
}
.tblHolder{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    min-width: 280px;
}
td.topicCell{
    width: 20%;
    padding-left: 10px;
}
td.latestThCell{
    width: 30%;
}
td.threadsCountCell{
    width: 10%
}
td.postsCountCell{
    width: 10%;
}
tr.rowStyle1{
    height: 30px;
    color: #FFFFFF;
    background-color: #383838;
    
}
tr.rowStyle2{
    height: 30px;
    color: #FFFFFF;
    background-color: #313131;
    
}
a.forumLink {
    margin-left: 15px;
    color: #FFFFFF;
    text-decoration: none !important;
}
a.forumLink:hover {
    color: #FF0000 !important;
    text-decoration: none !important;
}
.charButton{
    color: black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 2vw;
    background-color: #900E0E;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    padding-top: .5em;
    padding-bottom: .5em;
}
.charButton:hover{
    color: black;
    background-color: #E60606;
}
.postButton:hover {
        background-image: linear-gradient(rgb(47, 39, 39), rgb(8, 8, 8) 40%, #2F0F0F);
        color: #B50707;
}
.postButton {
    white-space: nowrap;
    /* margin-left: 5vw; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 110px;
    //padding-left: 2vw;
    //padding-right: 6.7vw;
    border-radius: 8px 8px 8px 8px;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(31, 28, 28) 40%, #2F2929);
    color: #9E0000;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 4vw; */
    margin-bottom: 5px;
    text-align: center;
}
.postThreadButton:hover {
    background-image: linear-gradient(rgb(47, 39, 39), rgb(8, 8, 8) 40%, #2F0F0F);
    color: #B50707;
}
.postThreadButton {
    text-align: center;
    white-space: nowrap;
    /* margin-left: 5vw; */
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 180px;
    /* padding-right: 1vw; */
    border-radius: 8px 8px 8px 8px;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(31, 28, 28) 40%, #2F2929);
    color: #9E0000;
    font-weight: bold;
    font-size: 16px;
    /* line-height: 4vw; */
    margin-bottom: 5px;
}
.row.top{
    margin-left: 10px;
}
button.btn.btn-info.loginButton {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(31, 28, 28) 40%, #2F2929);
    background-repeat: no-repeat;
    color: #9E0000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent !important;
    padding: 0 15px 0 15px;
    border-radius: 8px 8px 8px 8px;
    
}
button.btn.btn-info.loginButton:hover {
    background-image: linear-gradient(rgb(47, 39, 39), rgb(8, 8, 8) 40%, #2F0F0F);
    color: #B50707;
    background-repeat: no-repeat;
}
button.btn.btn-info.loginButton:focus {
    outline: 0;
}
.postBox{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.txtField{
    width: 100%;
    border-radius: 15px;
    border-color: #000000;
    color: #FFFFFF;
    background-color: #383838;
    margin: auto;
}
.txtField:focus{
    outline: 0;
    border-color: #7D0000;
}
button.btn.btn-info.postButton{
    white-space: nowrap;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: linear-gradient(rgb(41, 41, 41), rgb(31, 28, 28) 40%, #2F2929);
    background-repeat: no-repeat;
    color: #9E0000;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent !important;
    padding: 0 15px 0 7px;
    border-radius: 8px 8px 8px 8px;
    margin-left: 20px;
    margin-top: 10px;
}
button.btn.btn-info.postButton:hover{
    background-image: linear-gradient(rgb(47, 39, 39), rgb(8, 8, 8) 40%, #2F0F0F);
    color: #B50707;
    background-repeat: no-repeat;
}
button.btn.btn-info.postButton:focus{
    outline: 0;
}
.modal-content{
    
}